# **Data Types and Structures**

# ***Assignment Questions and Answers ***

# **Data Types and Structures Questions**

1. What are data structures, and why are they important?

**What are Data Structures?**

Data Structures are ways to organize, store, and manage data in a computer so that we can use it efficiently.

A data structure is a smart way of arranging data to make your program faster, cleaner, and smarter.
Just like you wouldn’t carry water in a basket, in coding, you use the right structure for the right task.



 **Why are Data Structures Important?**

1. Efficiency
Good data structures make your code faster and use less memory.

2. Problem Solving
Many real-world problems (like searching, sorting, and pathfinding) become much easier with the right structure.

3. Clean Code
Helps you write code that’s easier to understand, maintain, and extend.

4. Essential for Interviews & Jobs
Companies like Google, Amazon, and the Big Four love asking questions on data structures because they show how well you think.

# 2. Explain the difference between mutable and immutable data types with examples

**Mutable Data Types**

These can be changed after creation.

Examples:          list, dict (dictionary), set, bytearray

**Immutable Data Types**

These cannot be changed after creation.

Examples:       int,   float,   str (string), tuple, bool, frozenset, bytes

# 3. What are the main differences between lists and tuples in Python?

1. Mutability

List:  Mutable → Can be changed (add, remove, or modify elements).

Tuple:  Immutable → Cannot be changed once created.

2. Syntax

List: Uses square brackets []

Tuple: Uses parentheses ()

3. Performance

Tuple: Slightly faster than list (because it's immutable and uses less memory).

List: Slightly slower in comparison.

4. Methods Available

List: Has more built-in methods like append(), remove(), pop(), etc.

Tuple: Very few methods, only count() and index().

# 4. Describe how dictionaries store data.

Dictionaries in Python store data using a key-value pair system.

# 5. Why might you use a set instead of a list in Python?
We might use a set instead of a list in python as set does not allow duplication of elements.

# 6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters used to represent text.

It is different from a list as strings is immutable and not enclosed by Square brackets.

# 7. How do tuples ensure data integrity in Python?
Tuples in Python are designed to be immutable, which means once created, they cannot be changed.
This immutability is what helps protect and ensure data integrity.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores data in key-value pairs, and allows for very fast lookup, insertion, and deletion.

It relate to dictionaries in python as dictionaries are implemented using hash tables.

# 9. Can lists contain different data types in Python?
Yes, lists in Python can contain different data types.

Python lists are heterogeneous, which means you can mix integers, strings, floats, booleans, other lists, dictionaries, or even custom objects in a single list.

# 10. Explain why strings are immutable in Python.
Strings are immutable in Python because once a string is created, it cannot be changed — any operation that seems to modify a string will actually create a new string.

**Why are strings immutable?**

1. Efficiency and Memory Optimization

2. Hashing for Dictionary Keys

3. Safety and Predictability

# 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer several key advantages over lists for certain tasks, especially when it comes to fast lookups and organizing data by keys.

# 12. Describe a scenario where using a tuple would be preferable over a list.
Tuples are preferable when data should remain constant, such as in database record, coordinate, or configuration settings. Using tuples ensures that the data cannot be modified, maintaining the integrity of the stored values.

# 13. How do sets handle duplicate values in Python?
In Python, sets automatically remove duplicate values.

 Key Behavior:

 1. A set is an unordered collection of unique elements.

 2. If you add duplicates, Python will keep only one copy.

# 14. How does the “in” keyword work differently for lists and dictionaries?
The in keyword is used in both lists and dictionaries, but it behaves differently depending on the data structure.

**In a List:**

 in checks if a value exists among the elements.

 **In a Dictionary:**

in checks only the keys, not the values.

# 15. Can you modify the elements of a tuple? Explain why or why not.
No, element of a tuple can be modified because tuple are immutable.Once Created, their contents are fixed, making them suitable for data that should remain unchanged throughout the program.

# 16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary inside another dictionary.It is Used for Storing heirarchical data, such as a directory of user Where each user has their personal data stored as a dictionary of properties.

# 17. Describe the time complexity of accessing elements in a dictionary.
The time complexity of accessing elements in a dictionary in Python is:

1. Average Case: O(1)

2. Worst Case: O(n)

# 18. In what situations are lists preferred over dictionaries?
Lists are preferred over dictionaries in Python when the situation involves:

1. Ordered Data Without Key-Value Pairs

2. Accessing Elements by Position

3. Maintaining Duplicates

4. Simple Iteration Tasks

5. Small Data or When Structure Is Simple

# 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries in python are considered unordered because they do not maintain a specific sequence for their key and values. However, this does not affect data retrieval as long as retrievel is done by keys, as dictionaries provide direct access to value through hasting

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
A list is an ordered collection of element, where element are accessed by using there index (position) and here time complexity is O(1) (constain time). A Dictionary is an unorderd collection of key value pairs, where  item are accessed  using a unique key (not position) and here time complexity is on average is O(1)

# **Practical Questions**

# 1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Md Tahir Ali"
print(my_name)

Md Tahir Ali

# 2. Write a code to find the length of the string "Hello World"

In [ ]:
String = "Hello World"
len(String)

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "python programming"
slice = string[:3]
print(slice)

pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
string.upper()

'HELLO'

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
fruits = "I like apple"
fruits.replace("apple","orange")

'I like orange'

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = ['a','b','c','d']
print(list[1])

b

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
num  = (10, 20, 5, 15)
min(num)

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'kiwi')
'kiwi' in fruits

True

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1 & set2

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = {"name": "Tahir", "age": "25", "city": "Ghazipur"}
print(dict)

{'name': 'Tahir', 'age': '25', 'city': 'Ghazipur'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict = {'name': 'john', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict = {'name': 'Alice', 'age': 30}
dict.get('name')

'Alice'

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict = {'name': 'Alice', 'City': 'paris'}
'City' in dict

True

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = [1, 2, 3, 4, 5]
tuple = ('Apple', 'Banana', 'Orange')
dict = {"name": "Tahir", "age": "25", "city": "ghazipur"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
('Apple', 'Banana', 'Orange')
{'name': 'Tahir', 'age': '25', 'city': 'ghazipur'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
my_list = []
for _ in range(5):
    my_list.append(random.randint(1, 100))
my_list.sort()
print(my_list)

[21, 27, 35, 90, 91]

# 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ['Apple', 'Banana', 'orange', 'Mango', 'Grapes']
print(list[2])

orange

# 29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': '1', 'b': '2'}
dict2 = {'c': '3', 'd': '4'}
dict1.update(dict2)
print(dict1)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

# 30. Write a code to convert a list of strings into a set.

In [78]:
my_list = ['Apple', 'Banana', 'cherry', 'apple']
my_set = set(my_list)
print(my_set)

{'Apple', 'Banana', 'cherry', 'apple'}